@import '../abstracts/variaveis';

.cards {
    padding: 5rem 7rem;
    .card {
        border: 3px solid $cor-primaria;
        display: flex;
        flex-direction: column;
        width: 20%;
        padding: 1rem;
        background-color: $cor-secundaria;
        border-radius: 20px;
        div {
            display: flex;
            justify-content: space-evenly;
            margin: 0 0 2rem 0;
            h3 {
                font-size: 1.7rem;
                color: $cor-primaria;
                font-weight: 700;
            }
            button {
                border: none;
                font-weight: 900;
                padding: 0 0.7rem;
                color: $cor-secundaria;
                border-radius: 8px;
                background-color: $cor-primaria;
            }
        }
        .descricao-card {
            word-wrap: break-word;
        }
    }
}