@import '../abstracts/variaveis';

.cards {
    padding: 5rem 7rem;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    max-height: auto;
    gap: 5% 10%;
    width: 70%;

    .card {
        border: 5px solid $cor-primaria;
        display: flex;
        flex-direction: column;
        width: auto;
        padding: 1rem;
        background-color: $cor-secundaria;
        border-radius: 20px;
        max-height: 43%;
        min-height: 15rem;

        h3 {
            font-size: 1.5rem;
            color: $cor-primaria;
            font-weight: 700;
            text-align: center;
            min-height: 1.5rem;
        }

        .btn-exclui {
            border: none;
            font-weight: 900;
            padding: 0.6rem 1.5rem 0.6rem 1rem;
            width: 15%;
            color: $cor-secundaria;
            border-radius: 50%;
            background-color: $cor-primaria;
            position: relative;
            left: 10rem;
            top: -3rem;
            transition: 0.5s;
            
            &:hover {
                cursor: pointer;
                color: $cor-quaternaria;
                transition: 0.5s;
            }
        }
    }

    .descricao-card {
        word-wrap: break-word;
        height: 40%;
        overflow-y: scroll;
    }

    p {
        margin: 0.5rem 0;
        color: $cor-quaternaria;
        font-weight: 500;
    }

    div>p {
        font-size: 0.8rem;
    }

    div+button {
        border-radius: 10px;
        color: $cor-primaria;
        background-color: $cor-quaternaria;
        font-size: 1rem;
        font-weight: 700;
        padding: 0.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1s;
        cursor: pointer;
        span {
            margin-left: 0.3rem;
        }

        &:hover {
            background-color: $cor-primaria;
            color: $cor-secundaria;
            transform: scale(1.1);
            transition: 1s;
        }
    }
}