@import '../abstracts/variaveis';

.cards {
    padding: 5rem 7rem;
    display: flex;
    .card {
        border: 5px solid $cor-primaria;
        display: flex;
        flex-direction: column;
        width: 20%;
        padding: 1rem;
        margin: 0 6rem 6rem 0;
        background-color: $cor-secundaria;
        border-radius: 20px;
        div {
            display: flex;
            justify-content: space-evenly;
            h3 {
                font-size: 1.5rem;
                color: $cor-primaria;
                font-weight: 700;
                text-align: center;
            }
            button {
                border: none;
                font-weight: 900;
                padding: 0.8rem 1rem;
                color: $cor-secundaria;
                border-radius: 100%;
                background-color: $cor-primaria;
                position: relative;
                right: -2.5rem;
                top: -1.7rem;
                transition: 0.5s;
                &:hover {
                    cursor: pointer;
                    color: $cor-quaternaria;
                    transition: 0.5s;
                }
            }
        }
        img {
            border: 2px solid $cor-quaternaria;
            // padding: 0.5rem;
            margin-bottom: 1.5rem;
            border-radius: 20px;
            width: 100% -2px;
            height: 200px;
        }
        .descricao-card {
            word-wrap: break-word;
        }
        p {
            margin: 0.5rem 0;
            color: $cor-quaternaria;
            font-weight: 500;
            font-size: 1.2rem;
        }
        div > p {
            font-size: 0.8rem;
        }
        div + button {
            border-radius: 10px;
            color: $cor-primaria;            
            background-color: $cor-quaternaria;
            font-size: 1.2rem;
            font-weight: 700;
            padding: 0.3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 1s
            span {
                margin-left: 1rem;
            }
            &:hover {
                background-color: $cor-primaria;
                color: $cor-secundaria;
                transform: scale(1.1);
                transition: 1s;
            }
        }
    }
}