@import '../abstracts/variaveis';

header {
    padding: 1rem;
    text-align: center;
    background-color: $cor-secundaria;
    color: $cor-primaria;
    h1 {
        font-size: 3.5rem;
        font-weight: 700;
    }
    p {
        font-size: 1.8rem;
        font-weight: 500;
    }
}
