@import '../abstracts/variaveis';

.inserir-tarefa {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $cor-primaria;
    width: 35%;
    height: 100vh;

    label {
        color: $cor-quaternaria;
        padding: 0.5rem;
        font-size: 1.5rem;
    }

    input {
        margin-bottom: 1rem;
        border-radius: 8px;
        width: 70%;
        padding: 1rem;
        font-size: 1.3rem;
        color: $cor-primaria;
        background-color: $cor-quaternaria;
        font-weight: 700;

        &:active {
            border: none
        }
    }

    textarea {
        width: 80%;
        height: 5rem;
        border-radius: 8px;
        padding: 1rem;
        font-size: 1.3rem;
        color: $cor-primaria;
        background-color: $cor-quaternaria;
        font-weight: 700;
    }

    button {
        display: flex;
        margin: 3rem;
        border-radius: 8px;
        padding: 1rem;
        font-size: 1.2rem;
        align-self: center;
        color: $cor-primaria;
        width: 70%;
        justify-content: center;
        transition: 0.5s;

        &:hover {
            transform: scale(1.1);
            background-color: $cor-primaria;
            color: $cor-quaternaria;
            transition: 0.5s;
        }

        span {
            margin-left: 1rem;
        }
    }
}