@import 'components/header';
@import 'components/cards';
@import 'components/inserir';

html,
body {
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    background-color: $cor-quaternaria;
}